#app {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-align: center;
}

body {
  @apply overflow-y-scroll overflow-x-hidden;
}

html.dark #app {
  background: #121212;
  color: white;
}
